body {
    background-color: #FAF9F6; 
    color: #1a1a1a; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 650px;
    margin: 5rem auto 0 auto;
    padding: 0 2rem;
}

p {
    font-size: 1.2rem; 
    line-height: 1.5; 
}

hr {
    border: none;
    height: 2px;
    background-color: #8B4513; 
    margin-top: 1rem;
}

footer {
    margin-top: auto; 
    width: 100%;
}

.signature {
    text-align: center;
    opacity: 0.8;
    padding: 0.5rem 0; 
    font-size: 0.8rem;
    font-style: normal;
    color: #595959;
}

@media (max-width: 768px) {
    .content {
        margin-top: 2rem; 
    }

    p {
        font-size: 1.1rem; 
    }

    .signature {
        padding: 2rem 0;
    }
}